.adminLayout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.adminContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.mainContent {
    padding: 20px;
    overflow-y: auto;
    background-color: #f8fafc;
    height: calc(100% - 60px);
}

.pageContent {
    height: 100%;
}